
.containerHeader{
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 20px 0px;

    img{
        width: 269px;
        height: 101px;
    }
}

@media(max-width: 900px){
    .containerHeader{
        width: 90%;
    }
}